body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

h1 {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0px auto;
}

.header-box {
  display: flex;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
}

.header-box .container {
  display: flex;
  gap: 100px;
}

.menu-box {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.menu-box ul li {
  display: inline-block;
}

.list-item {
  display: flex;

  gap: 40px;
}

.menu-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-studio:hover {
  color: #404bbf;
}

.menu-studio:focus {
  color: #404bbf;
}

.link-itm {
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.link-itm:hover {
  color: #404bbf;
}

.link-itm:focus {
  color: #404bbf;
}

.address {
  display: flex;
  font-style: normal;
  align-items: center;
  margin-left: auto;
}

.list-addr {
  display: flex;
  gap: 40px;
}

.address ul li {
  display: inline-block;
}

.address-itm-mail {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-itm-tel {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-itm-tel:hover {
  color: #404bbf;
}

.address-itm-mail:hover {
  color: #404bbf;
}

.address-itm-tel:focus {
  color: #404bbf;
}

.address-itm-mail:focus {
  color: #404bbf;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  padding-left: 0px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  width: 115px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Section 1 */

.section-one {
  padding: 188px 0;
  background-color: #2e2f42;
  /* max-width: 1440px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  /* max-width: 1440px; */
}

.section-head-one {
  display: flex;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0px auto;
}

.button {
  display: block;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0px auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

/* Section 2 */

.section-two {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-header-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.list-sec-two {
  display: flex;
  gap: 24px;
}

.list-item-two {
  width: calc ((100% - 72px) / 4);
}

.section-head-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-text-two {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section 3 */
.section-our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.list-sec-three {
  display: flex;
  gap: 24px;
  width: calc ((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.list-item-three {
  padding: 32px 0;
}

.our-team-backcolor {
  background-color: #ffffff;
  width: calc ((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
}

.card-header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.card-text-three {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Section 4 */

.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-sec-four {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.first-item-list {
  width: calc ((100% - 48px) / 3);
}

.card-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.card-text-sec {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  margin-bottom: 8px;
  border-top: none;
}

.card-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */

.footer-studio {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
